{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans 'Confirmation Mail' %}{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <h1 class="mainH1 mt-3 mb-3">{% trans 'Confirmation Mail' %}</h1>
        <div class="container">
            {% if messages.error or form.errors %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                <ul class="badge-warning">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error|escape }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% blocktrans with username=user.username %}
                    Bonjour {{ username }}, Votre compte a bien été activé.
                {% endblocktrans %}
            {% endif %}

        </div>
    </div>
{% endblock %}