{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans 'Confirmation Mail' %}{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <h1 class="mainH1 mt-3 mb-3">{% trans 'Confirmation Mail' %}</h1>
    {% blocktrans with username=user.username %}
        {% autoescape off%}
            Bonjour {{ user.username }}, Votre compte a bien été activé.
        <div class="container">
        </div>
        {% endautoescape %}
    {% endblocktrans %}
    </div>
{% endblock %}