{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans "Connexion - IHM Web A.X.E.L." %}{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <h1 class="mainH1 mt-3 mb-3">{% trans "Bienvenue sur l'intelligence artificielle A.X.E.L." %}</h1>
        <a class="img_max_security" type="button" data-toggle="modal" data-target="#modalLogin">
            <img src="{% static 'img/max_security_area.jpg' %}"/>
        </a>
    {% include "WebAXEL/registration/login_modal.html" %}
    </div>
{% endblock %}