{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans "Confirmation - IHM Web A.X.E.L." %}{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <h1 class="mainH1 mt-3 mb-3">{% trans "Confirmation d'inscription" %}</h1>
        {% if form.errors %}
            <p class="badge-danger">{% trans "Les informations données pour l'inscription ne sont pas correctes. Veuillez réessayer." %}</p>
            <ul class="badge-warning">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    {{ error|escape }}
                {% endfor %}
            </ul>
        {% else %}
            <p class="badge-success">{% trans 'Votre inscription a bien été prise en compte.' %}</p>
            <p class="badge-info">{% trans "Merci d'avoir pris le temps de vous inscrire sur mon application web." %}</p>
            <p class="badge-danger">{% trans "N'oubliez pas d'aller voir votre compte mail afin d'activer votre compte." %}</p>
        {% endif %}
        <a href="{% url 'index' %}" type="button"
           class="btn btn-success">{% trans "Retourner à l'écran principal" %}</a>
    </div>
{% endblock %}