{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans "Inscription - IHM Web A.X.E.L." %}{% endblock %}
{% block content %}
    <div class="container" style="text-align: center">
        <h1 class="mainH1">{% trans "Inscription - IHM Web A.X.E.L." %}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit" name="submit">{% trans "S'inscrire" %}</button>
        </form>
    </div>
{% endblock %}