# Librairies a installer via pip dans l'environnement virtuel "venv2" pour faire fonctionner AXEL_WEB
# "pip install -r requirements.txt" a executer pour tout installer
# "pip freeze > requirements.txt" pour generer ce fichier a partir des librairies deja installees
asgiref==3.2.3
channels==2.4.0
decorator==4.4.1
Django==3.0.14
django-crispy-forms==1.8.1
django-filter==2.2.0
django-rest-auth==0.9.5
djangorestframework==3.11.0
gettext-anywhere==1.0.0
gunicorn==20.0.4
Markdown==3.1.1
mysqlclient==1.4.6
Pillow==7.0.0
psycopg2==2.8.4
public==2019.4.13
python-gettext==4.0
pytz==2019.3
reportlab==3.5.34
self==2019.4.13
sentry-sdk==0.14.0
six==1.14.0
sqlparse==0.3.0
whitenoise==5.0.1