{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans "Connexion - IHM Web A.X.E.L." %}{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <br>
        <h1 align="center" id="mainH1">{% trans "Bienvenue sur l'intelligence artificielle A.X.E.L." %}</h1>
        <br>
        <button class="img_max_security" type="button" data-toggle="modal" data-target="#modalLogin">
            <img src="{% static 'img/max_security_area.jpg' %}"/>
        </button>
    {% include "registration/login_modal.html" %}
    </div>
{% endblock %}