{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}
    {% if user.is_authenticated %}
        {% trans "Accueil - IHM Web A.X.E.L." %}
    {% else %}
        {% trans "Connexion - IHM Web A.X.E.L." %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <h1 class="mainH1 mt-3 mb-3">{% trans "Bienvenue sur l'IHM A.X.E.L." %}</h1>
        {% if forms.login.errors %}
            <p class="badge-danger">{% trans "Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer." %}</p>
        {% elif forms.register.errors %}
            <p class="badge-danger">{% trans "Les informations données pour l'inscription ne sont pas correctes. Veuillez réessayer." %}</p>
        {% endif %}
        {% if not user.is_authenticated %}
            <div class="container">
                <button class="btn btn-danger btn-lg btn-block mt-5" type="button" data-toggle="modal"
                        data-target="#modalLogin" title="{% trans "Connexion" %}">{% trans "Connexion" %}
                </button>
                {% include "WebAXEL/login/login_modal.html" %}
            </div>
            <div class="container">
                <button class="btn btn-success btn-lg btn-block mt-5" type="button" data-toggle="modal"
                        data-target="#modalRegister" title="{% trans "Inscription" %}">{% trans "Inscription" %}
                </button>
                {% include "WebAXEL/registration/register_modal.html" %}
            </div>
        {% endif %}
    </div>
{% endblock %}