{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}
    {% trans "Adventures JDR" %}
{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <h1 class="mainH1 mt-3 mb-3">{% trans "Bienvenue sur le jeu de rôles Adventures" %}</h1>
        <div class="jumbotron jumbotron-fluid mt-1 mb-1">
            <hr class="my-1">
            <p>{% blocktrans %} Jeu de rôles avec génération de personnages et scénarios aléatoires selon le niveau
                du personnage.
            {% endblocktrans %}</p>
            <div class="row" align="center">
                <div class="col">
                    <button class="btn btn-danger btn-lg mt-5" type="button" href="{% url 'characters' %}"
                            title="{% trans "Liste des personnages" %}">{% trans "Liste des personnages" %}
                    </button>
                </div>
                <div class="col"></div>
                <div class="col">
                    <button class="btn btn-success btn-lg mt-5" type="button" href="{% url 'new-character' %}"
                            title="{% trans "Créer un personnage" %}">{% trans "Créer un personnage" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}