/* Polices Persos */
@font-face {
    font-family: "Neuropoltical";
    src: url("../fonts/neuropolitical rg.ttf");
}

@font-face {
    font-family: "MarsPolice";
    src: url("../fonts/marspolice.ttf");
}

@font-face {
    font-family: "MarsPoliceItalic";
    src: url("../fonts/marspolice_i.ttf");
}

/* CSS Balises */

html, body {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

nav {
    position: fixed;
}

header, footer, #content {
    flex-shrink: 0;
}

/* CSS Classes */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    flex-grow: 1;
}

.img_max_security, .robotImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainH1 {
    font-family: "Neuropoltical", serif;
    text-align: center;
}

.modal-title#login {
    font-family: "Neuropoltical", serif;
}

/* CSS Id */

#welcomeMessage {
    color: whitesmoke;
}

#btnAdd{
    display: block;
    margin: auto;
}

#copyright {
    font-family: "Neuropoltical", serif;
    color: white
}

#featuresAXEL {}
#featureAXEL {}

#socialButton {
    font-size: 24px;
}