{% extends "base.html" %}
{% load static i18n crispy_forms_filters %}
{% block title %}{% trans "Ajouter Documentation A.X.E.L." %}{% endblock %}
{% block content %}
    <h1 class="mainH1 mt-1" style="text-align: center">{% trans "Ajouter Document" %}</h1>
    <div class="container mt-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button id="btnAdd" type="submit" class="btn btn-success">{% trans "Ajouter Document" %}</button>
        </form>
    </div>
{% endblock %}