{% load static i18n crispy_forms_tags %}

<!-- Modal Description Bouton Lire Plus -->
<div class="modal fade" id="modalLongDescription{{ document.id }}" tabindex="-1" role="dialog"
     aria-labelledby="modalLongDescriptionTitle{{ document.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLongDescriptionTitle{{ document.id }}">{{ document.titre }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ document.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Fermer' %}</button>
            </div>
        </div>
    </div>
</div>
