{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans "Documentation A.X.E.L." %}{% endblock %}
{% block content %}
    <div class="container-fluid" style="text-align: center" xmlns="http://www.w3.org/1999/html">
        <h1 class="mainH1 mt-3 mb-3">{% trans "Documentation A.X.E.L." %}</h1>
        <div class="container">
            <form action="{% url 'document-search-results' %}" method="GET" class="form-inline mt-1 mb-1">
                <div class="container" id="documentSearch" style="text-align:center;">
                    <input style="text-align: center" class="form-control form-control-sm mb-1 w-50" type="search"
                           placeholder="{% trans "Recherche de document" %}"
                           onfocus="this.placeholder = ''" aria-label="{% trans "Recherche" %}"
                           name="search">
                    <button type="submit" class="mb-3">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        {% if is_paginated %}
            <p class="page-current text-center">
                {% blocktrans with number=page_obj.number num_pages=page_obj.paginator.num_pages %}Page {{ number }} sur {{ num_pages }}.{% endblocktrans %}
            </p>
        {% endif %}
        {% include 'WebAXEL/documents/documents_pagination.html' %}
        <div class="container-fluid">
            {% if documents|length >= 3 %}
                <div class="card-deck">
            {% endif %}
            {% for document in documents %}
                <div class="card text-center mb-3" style="min-width: 30%;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% blocktrans with titre=document.titre %}{{ titre }}{% endblocktrans %}</h5>
                        <p class="card-text">
                            {% blocktrans with description=document.description|truncatechars:50 %}{{ description }}{% endblocktrans %}
                            {% if document.description|length > 50 %}
                                <a href data-toggle="modal"
                                   data-target="#modalLongDescription{{ document.id }}">{% trans 'Lire plus' %}</a>
                                        {% include 'WebAXEL/documents/documents_modal_description.html' %}
                            {% endif %}
                        </p>
                        <p class="card-text"><span class="badge badge-info">
                            {% blocktrans with auteur=document.auteur %}Auteur : {{ auteur }}{% endblocktrans %}
                            </span></p>
                        <p class="card-text"><small class="badge badge-secondary">
                            {% blocktrans with nb_vues=document.nb_vues %}Nombre de vues : {{ nb_vues }}{% endblocktrans %}
                        </small>
                        </p>
                        <div class="card-footer p-1">
                            <a title="PDF" href="/{{ document.document }}" class="btn btn-primary"><i
                                    class="fa fa-file-pdf-o fa-lg"></i></a>
                            <a title="{% trans "Détails Document" %}" href="{% url "document" document.id %}"
                               class="btn btn-info"><i class="fa fa-info fa-lg"></i></a>
                            {% if user.is_staff %}
                                <a title="{% trans "Modifier Document" %}"
                                   href="{% url "edit-document" document.id %}"
                                   class="btn btn-warning"><i class="fa fa-edit fa-lg"></i></a>
                                <a title="{% trans "Supprimer Document" %}"
                                   class="confirm-delete btn btn-danger" data-toggle="modal"
                                   data-target="#confirmDeleteDocumentModal{{ document.id }}"
                                   id="deleteButton{{ document.id }}" style="color: white">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            {% endif %}
                            {% include "WebAXEL/documents/documents_confirmation_modal.html" %}
                        </div>
                    </div>
                </div>
                {% if documents|length >= 3 %}
                    </div>
                {% endif %}
            {% empty %}
                <p style="text-align: center;">{% trans "Aucun document trouvé" %}</p>
            {% endfor %}
            {% include 'WebAXEL/documents/documents_pagination.html' %}
        </div>
    </div>
{% endblock %}