{% extends "WebAXEL/base/base.html" %}
{% load static i18n crispy_forms_filters %}
{% block title %}{% trans "Création Personnage Adventures" %}{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mainH1 mt-3 mb-3" style="text-align: center">{% trans "Création de personnage" %}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="card-footer">
                <a title="Equipement" href="{% url 'add-equipment' %}" class="btn btn-primary">{% trans 'Equipement' %}</a>
                <a title="Competences" href="{% url 'add-competences' %}" class="btn btn-primary">{% trans 'Competences' %}</a>
                <a title="Caracteristiques" href="{% url 'add-carac' %}" class="btn btn-primary">{% trans 'Caracteristiques' %}</a>
                <a title="Physique" href="{% url 'add-physics' %}" class="btn btn-primary">{% trans 'Physique' %}</a>
            </div>
            <button id="btnAdd" type="submit" class="btn btn-success">{% trans "Créer le personnage" %}</button>
        </form>
    </div>
{% endblock %}